In [8]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [9]:
df = pd.read_csv('covid_19_india.csv')
df.head(10)

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,30/01/20,6:00 PM,Kerala,1,0,0,0,1
1,2,31/01/20,6:00 PM,Kerala,1,0,0,0,1
2,3,01/02/20,6:00 PM,Kerala,2,0,0,0,2
3,4,02/02/20,6:00 PM,Kerala,3,0,0,0,3
4,5,03/02/20,6:00 PM,Kerala,3,0,0,0,3
5,6,04/02/20,6:00 PM,Kerala,3,0,0,0,3
6,7,05/02/20,6:00 PM,Kerala,3,0,0,0,3
7,8,06/02/20,6:00 PM,Kerala,3,0,0,0,3
8,9,07/02/20,6:00 PM,Kerala,3,0,0,0,3
9,10,08/02/20,6:00 PM,Kerala,3,0,0,0,3

In [10]:
df.shape

(4321, 9)

In [15]:
df1 = df.copy()

In [16]:
df = df1.copy()

In [17]:
df.columns

Index(['Sno', 'Date', 'Time', 'State/UnionTerritory',
       'ConfirmedIndianNational', 'ConfirmedForeignNational', 'Cured',
       'Deaths', 'Confirmed'],
      dtype='object')

In [19]:
df.columns = ['Serial_No','date', 'Time','State', 'Indian', 'Foreigner', 'cured', 'deaths', 'positive']
df.columns

Index(['Serial_No', 'date', 'Time', 'State', 'Indian', 'Foreigner', 'cured',
       'deaths', 'positive'],
      dtype='object')

In [21]:
df.State.value_counts()

Kerala                                      173
Delhi                                       141
Rajasthan                                   140
Haryana                                     139
Uttar Pradesh                               139
Ladakh                                      136
Tamil Nadu                                  136
Punjab                                      134
Karnataka                                   134
Jammu and Kashmir                           134
Maharashtra                                 134
Andhra Pradesh                              131
Uttarakhand                                 128
Odisha                                      127
West Bengal                                 125
Puducherry                                  125
Chhattisgarh                                124
Chandigarh                                  124
Gujarat                                     123
Madhya Pradesh                              122
Himachal Pradesh                            122
Bihar                                       121
Manipur                                     119
Mizoram                                     118
Goa                                         117
Andaman and Nicobar Islands                 117
Jharkhand                                   111
Assam                                       111
Arunachal Pradesh                           109
Tripura                                     105
Telengana                                   102
Meghalaya                                    98
Nagaland                                     65
Cases being reassigned to states             60
Sikkim                                       58
Telangana                                    39
Dadra and Nagar Haveli and Daman and Diu     39
Dadar Nagar Haveli                           37
Unassigned                                    3
Daman & Diu                                   1
Name: State, dtype: int64

In [22]:
df.Indian.value_counts()

-      3875
1       108
3        73
2        33
4        21
7        20
6        16
0        14
13       12
14        8
11        7
8         7
5         7
9         7
15        7
10        6
25        5
32        4
30        4
12        4
16        4
33        4
26        4
22        4
20        4
29        4
23        3
35        3
19        3
55        3
       ...
44        2
42        2
37        2
28        2
21        2
36        2
60        2
18        2
17        2
38        2
40        2
64        1
127       1
121       1
86        1
52        1
49        1
168       1
129       1
125       1
87        1
101       1
46        1
177       1
24        1
110       1
54        1
41        1
71        1
45        1
Name: Indian, Length: 62, dtype: int64

In [23]:
df = df.dropna()
df.shape

(4321, 9)